{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Meus Pedidos
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block conteudo %}

<div class="container">

    <aside class="sidebar">

        <div class="perfil-user">
            <p class="perfil-nome">
                {{ request.user.first_name|default:request.user.username }}
            </p>
            <p>{{ request.user.email }}</p>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'meus_dados' %}">
                        🏠 Meu Perfil
                    </a>
                </li>

                <li>🛍️ Meus Pedidos</li>

                <li>📍 Endereços</li>
                <li>❤️ Favoritos</li>
                <li>🎟️ Cupons</li>

                <li class="sair">
                    <a href="{% url 'logout' %}">
                        🚪 Sair
                    </a>
                </li>
            </ul>
        </nav>

    </aside>

    <main class="conteudo">

        <section class="pedidos">

    <div class="pedidos-cabecalho">
        <div>
            <h1>Meus Pedidos</h1>
            <p>Acompanhe seus pedidos realizados.</p>
        </div>
    </div>

    {% if pedidos %}

        {% for pedido in pedidos %}

            <div class="pedido-card">

                <div class="pedido-card-topo">

                    <div>
                        <h3>Pedido #{{ pedido.id }}</h3>

                        <p class="pedido-data">
                            Realizado em
                            {{ pedido.criado_em|date:"d/m/Y" }}
                            às
                            {{ pedido.criado_em|date:"H:i" }}
                        </p>
                    </div>

                    <span class="pedido-status">
                        {{ pedido.get_status_display }}
                    </span>

                </div>

                <div class="pedido-card-rodape">

                    <div class="pedido-card-total">
                        <span>Total do pedido</span>

                        <strong>
                            R$ {{ pedido.valor_total }}
                        </strong>
                    </div>

                    <a
                        href="{% url 'pedido_detalhes' pedido.id %}"
                        class="btn-detalhes"
                    >
                        Ver detalhes
                    </a>

                </div>

            </div>

        {% endfor %}

    {% else %}

        <div class="pedido-card pedido-vazio">

            <h3>Nenhum pedido encontrado.</h3>

            <p>
                Quando você realizar uma compra,
                ela aparecerá aqui.
            </p>

        </div>

    {% endif %}

</section>

    </main>

</div>

{% endblock %}