{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cadastrar endereço
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/endereco.css' %}">
{% endblock %}

{% block conteudo %}

<main class="endereco-container">

    <h1>Cadastrar endereço</h1>

    <p class="endereco-descricao">
        Informe o endereço que será utilizado para suas entregas.
    </p>

    <form method="POST" class="endereco-form">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn-salvar-endereco">
            Salvar endereço
        </button>
    </form>

</main>

{% endblock %}