{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Meu Perfil
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'script/perfil.js' %}"></script> -->
{% endblock %}

{% block conteudo %}

<div class="container">

    <aside class="sidebar">

        <div class="perfil-user">
            <p class="perfil-nome">{{ request.user.first_name|default:request.user.username }}</p>
            <p>{{ request.user.email }}</p>
        </div>

        <nav>
            <ul>
                <li><a href="">🏠 Meu Perfil</a></li>
                <li><a href="{% url 'meus_pedidos' %}">🛍️ Meus Pedidos</a></li>
                <li><a href="">📍 Endereços</a></li>
                <li><a href="">❤️ Favoritos</a></li>
                <li><a href="">🎟️ Cupons</a></li>


                <li class="sair">
                    <a href="{% url 'logout' %}">
                        🚪 Sair
                    </a>
                </li>
            </ul>
        </nav>

    </aside>


    <main class="conteudo">

        <section class="boas-vindas">
            <h1>
                Olá,
                {{ request.user.first_name|default:request.user.username }}!
            </h1>

            <p>
                Bem-vindo ao seu painel. Aqui você acompanha seus pedidos,
                favoritos e informações da sua conta.
            </p>
        </section>


        <section class="cards">

            <div class="card">
                <a href="{% url 'meus_pedidos' %}">
                <h2>🛍️ Pedidos</h2>
                <p>Visualize seus pedidos realizados.</p>
                </a>
            </div>

            <div class="card">
                <a href="">
                <h2>❤️ Favoritos</h2>
                <p>Veja seus produtos favoritos.</p>
                </a>
            </div>

            <div class="card">
                <a href="">
                <h2>🎟️ Cupons</h2>
                <p>Confira seus cupons disponíveis.</p>
                </a>
            </div>

            <div class="card">
                <a href="">
                <h2>📍 Endereço</h2>
                <p>Gerencie seus endereços.</p>
                </a>
            </div>

        </section>


        <section class="pedidos">
            <h2>Últimos Pedidos</h2>

            {% if pedidos %}
                {% for pedido in pedidos %}
                    <div class="pedido-card">
                        <h3>Pedido #{{ pedido.id }}</h3>
                <p>
                    Data:
                    {{ pedido.criado_em|date:"d/m/Y H:i" }}
                </p>
                <p>
                    Status:
                    {{ pedido.get_status_display }}
                </p>
                <p>
                    Total:
                    R$ {{ pedido.valor_total }}
                </p>
            </div>
        {% endfor %}

    {% else %}

            <div class="pedido-card">
                <h3>Nenhum pedido encontrado.</h3>
                <p>
                    Quando você realizar uma compra, ela aparecerá aqui.
                </p>
        </div>
        
    {% endif %}
</section>

    </main>

</div>


{% endblock %}