<!-- ========================================
     SIDEBAR - ÁREA DO USUÁRIO
========================================= -->

<aside class="sidebar">

    <!-- USUÁRIO -->
    <div class="perfil-user">
        <p class="perfil-nome">
            {{ request.user.first_name|default:request.user.username }}
        </p>

        <p>{{ request.user.email }}</p>
    </div>

    <!-- NAVEGAÇÃO -->
    <nav>
        <ul>

            <li>
                <a href="{% url 'meus_dados' %}">
                    🏠 Meu Perfil
                </a>
            </li>

            <li>
                <a href="{% url 'dados_pessoais' %}">
                    👤 Meus Dados
                </a>
            </li>

            <li>
                <a href="{% url 'meus_pedidos' %}">
                    🛍️ Meus Pedidos
                </a>
            </li>

            <li>
                <a href="">
                    📍 Endereços
                </a>
            </li>

            <li>
                <a href="">
                    ❤️ Favoritos
                </a>
            </li>

            <li>
                <a href="">
                    🎟️ Cupons
                </a>
            </li>

            <li class="sair">
                <a href="{% url 'logout' %}">
                    🚪 Sair
                </a>
            </li>

        </ul>
    </nav>

</aside>