<!-- ========================================
     SIDEBAR - ÁREA DO USUÁRIO
========================================= -->

<aside class="sidebar">

    <!-- USUÁRIO -->
    <div class="perfil-user">
        <p class="perfil-nome">
            {{ request.user.first_name|default:request.user.username }}
        </p>

        <p>{{ request.user.email }}</p>
    </div>

    <!-- NAVEGAÇÃO -->
    <nav>
        <ul>

            <li>
                <a href="{% url 'meus_dados' %}">
                    <i class="bi bi-house-door"></i>Meu Perfil
                </a>
            </li>

            <li>
                <a href="{% url 'dados_pessoais' %}">
                    <i class="bi bi-person"></i>Meus Dados
                </a>
            </li>

            <li>
                <a href="{% url 'meus_pedidos' %}">
                    <i class="bi bi-bag"></i>Meus Pedidos
                </a>
            </li>

            <li>
                <a href="{% url 'meus_enderecos' %}">
                    <i class="bi bi-geo-alt"></i>Endereços
                </a>
            </li>

            <li>
                <a href="">
                    <i class="bi bi-heart"></i>Favoritos
                </a>
            </li>

            <li>
                <a href="">
                    <i class="bi bi-ticket"></i>Cupons
                </a>
            </li>

            <li class="sair">
                <a href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-right"></i>Sair
                </a>
            </li>

        </ul>
    </nav>

</aside>