{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Meu Perfil
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'script/perfil.js' %}"></script>
{% endblock %}

{% block conteudo %}

<div class="container">

    <aside class="sidebar">

        <div class="perfil-user">
            <h2>{{ request.user.first_name|default:request.user.username }}</h2>
            <p>{{ request.user.email }}</p>
        </div>

        <nav>
            <ul>
                <li>🏠 Meu Perfil</li>
                <li>🛍️ Meus Pedidos</li>
                <li>📍 Endereços</li>
                <li>❤️ Favoritos</li>
                <li>🎟️ Cupons</li>

                <li class="sair">
                    <a href="{% url 'logout' %}">
                        🚪 Sair
                    </a>
                </li>
            </ul>
        </nav>

    </aside>


    <main class="conteudo">

        <section class="boas-vindas">
            <h1>
                Olá,
                {{ request.user.first_name|default:request.user.username }}!
            </h1>

            <p>
                Bem-vindo ao seu painel. Aqui você acompanha seus pedidos,
                favoritos e informações da sua conta.
            </p>
        </section>


        <section class="cards">

            <div class="card">
                <h3>🛍️ Pedidos</h3>
                <p>Visualize seus pedidos realizados.</p>
            </div>

            <div class="card">
                <h3>❤️ Favoritos</h3>
                <p>Veja seus produtos favoritos.</p>
            </div>

            <div class="card">
                <h3>🎟️ Cupons</h3>
                <p>Confira seus cupons disponíveis.</p>
            </div>

            <div class="card">
                <h3>📍 Endereço</h3>
                <p>Gerencie seus endereços.</p>
            </div>

        </section>


        <section class="pedidos">

            <h2>Últimos Pedidos</h2>

            <div class="pedido-card">
                <h3>Nenhum pedido encontrado.</h3>
                <p>Quando você realizar uma compra, ela aparecerá aqui.</p>
            </div>

        </section>

    </main>

</div>

{% endblock %}