{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Página Inicial
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block conteudo %}

<section class="index">

    <div class="index-logo">
        <img src="{% static 'imgs/logo_nova.png' %}" alt="Logo PedeAió" class="index-logo-img">
    </div>

</section>

<div class="image-section">

    <div class="image-box">
        <img
            src="{% static 'imgs/motoboys.png' %}"
            alt="Entregadores realizando serviço de delivery"
        >
    </div>

    <div class="image-box">
        <img
            src="{% static 'imgs/pizzaria.jpg' %}"
            alt="Ambiente de estabelecimento alimentício"
        >
    </div>

</div>

{% endblock %}