{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Página Inicial
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/carrinho.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'script/carrinho.js' %}"></script>
{% endblock %}

{% block conteudo %}
<div class="steps">
    <span class="active">Carrinho</span>
    <span>Entrega</span>
    <span>Pagamento</span>
    <span>Confirmação</span>
</div>

<main class="container">

    <section class="cart">
    <h2>CARRINHO</h2>

    {% if itens %}

        {% for item in itens %}

        <div class="item">

            <img src="{{ item.produto.imagem.url }}" width="120">

            <div class="info">
                <h3>{{ item.produto.nome }}</h3>
                <p>Preço: R$ {{ item.produto.preco }}</p>
            </div>

            <div class="qty">

                <a href="{% url 'diminuir_quantidade' item.id %}">
                    <button>-</button>
                </a>

                <span>{{ item.quantidade }}</span>

                <a href="{% url 'aumentar_quantidade' item.id %}">
                    <button>+</button>
                </a>

            </div>

            <div class="price">
                R$ {{ item.produto.preco }}
            </div>

            <a href="{% url 'remover_produto' item.id %}">
                Remover
            </a>

        </div>

        {% endfor %}

    {% else %}

        <h3>Seu carrinho está vazio.</h3>

    {% endif %}

</section>

    <aside class="summary">

    <h3>Resumo</h3>

    <div class="line">
        <span>Total</span>
        <span>R$ {{ total }}</span>
    </div>

    <a href="{% url 'finalizar_pedido' %}">
        <button class="btn full">
            Finalizar Pedido
        </button>
    </a>

</aside>
</main>
{% endblock %}
