{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Produtos
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/pizza.css' %}" />
{% endblock %}

{% block scripts %}
{% endblock %}
{% block conteudo %}

<div class="container">
    <div class="product">
      <img src="{% static 'imgs/pizza.jpg' %}">
      <div class="info">
        <span class="tag">Oferta</span>
        <h2>Pizza de pepperoni</h2>
        <p class="price"><s>R$59,00</s> R$39,00</p><br>
        <button class="btn">Comprar</button>
        <button class="btn-car"><a href="{% url 'carrinhocompras' %}">Adicionar ao carrinho</button></a>
        <p class="desc">Uma pizza clássica adorada por todos! Acompanha massa da casa, queijo e pepperoni. Mas uma de frango com catupiry...</p>
      </div>
    </div>
</div>

<section class="reviews">
    <h3>Avaliações Recentes</h3>
    <div class="review-list">
      <div class="review">
        <div class="stars">★★★★★</div>
        <strong>Chegou bem embalado!</strong>
        <p>Muito bom! Recomendo.</p>
        <small><br>por José Grilo - 05/11/2025</small>
      </div>
      <div class="review">
        <div class="stars">★★★★☆</div>
        <strong>Entrega rápida!</strong>
        <p>Boa qualidade.</p>
        <small><br>por Fabrício Avelar - 04/11/2025</small>
      </div>
      <div class="review">
        <div class="stars">★★★★★</div>
        <strong>A bixa é boa mesmo</strong>
        <p>Superou minhas expectativas!</p>
        <small><br>por Juan Barros - 03/11/2025</small>
      </div>
    </div>
</section>

{% endblock %}