{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Produtos
{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/index.css' %}" />
{% endblock %}

{% block conteudo %}

<section class="features">

    <h2>Produtos</h2>
    <p class="subheading">Em estoque</p>

    <form method="GET" class="busca">

        <input
            type="text"
            name="buscar"
            placeholder="Buscar produto..."
            value="{{ busca|default_if_none:'' }}">

        <select name="categoria">

            <option value="">Todas</option>
            <option value="Hamburguer">Hambúrguer</option>
            <option value="Pizza">Pizza</option>
            <option value="Batata">Batata</option>
            <option value="Bebida">Bebidas</option>
            <option value="Sobremesa">Sobremesas</option>
            <option value="Salgado">Salgados</option>

        </select>

        <button type="submit">
            Buscar
        </button>

    </form>

    <br><br>

    <div class="features-grid">

        {% for produto in produtos %}

        <div class="feature">

            <a href="{% url 'produto_detalhes' produto.id %}" style="text-decoration:none; color:inherit;">

                <div class="image">

                    {% if produto.imagem %}
                        <img src="{{ produto.imagem.url }}"
                             alt="{{ produto.nome }}"
                             width="230"
                             height="190">
                    {% else %}
                        <img src="{% static 'imgs/sem-imagem.png' %}"
                             alt="Sem imagem"
                             width="230"
                             height="190">
                    {% endif %}

                </div>

                <h3><br>{{ produto.nome }}</h3>

                <p>R$ {{ produto.preco }}</p>

            </a>

            <a href="{% url 'adicionar_produto' produto.id %}"><br>
                <button class="btn-outline btn-carrinho">Adicionar ao carrinho</button>
            </a>

        </div>

        {% empty %}

            <h2><br>Nenhum produto cadastrado.</h2>

        {% endfor %}

    </div>

</section>

{% endblock %}