/* Área principal */

.container-gerenciar{
    width: 1200px;
    margin: 40px auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}


/* Painel */

.painel{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    padding: 30px;
    flex: 2;
    width: 70%;
}

.painel-header{
    margin-bottom: 20px;
}

.painel-header h2{
    font-size: 30px;
    margin-bottom: 6px;
}

.painel-header p{
    color: #666;
}


/* Tabela */

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: #f5f5f5;
}

th{
    padding: 15px;
    text-align: left;
    font-size: 15px;
}

td{
    padding: 15px;
    border-top: 1px solid #ececec;
    vertical-align: middle;
}

td img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}


/* Botões */

.btn-editar,
.btn-excluir{
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    margin-right: 8px;
}

.btn-editar{
    background: #111;
    color: white;
}

.btn-editar:hover{
    background: #333;
}

.btn-excluir{
    background: #d62828;
    color: white;
}

.btn-excluir:hover{
    background: #b30000;
}


/* Cadastro */

.cadastro{
    background:#fff;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    padding:35px;
    flex: 1;
    width: 200px;
    position: sticky;
    top: 30px;
}

.cadastro h2{
    text-align:center;
    margin-bottom:25px;
    font-size:30px;
}

.cadastro form{
    display:flex;
    flex-direction:column;
}

.campo{
    margin-bottom:18px;
}

.campo label{
    display:block;
    font-weight:600;
    margin-bottom:8px;
}

.cadastro input,
.cadastro textarea,
.cadastro select{
    width:100%;
    padding:12px;
    border:1px solid #d5d5d5;
    border-radius:8px;
    font-size:15px;
    transition:.3s;
}

.cadastro textarea{
    min-height:120px;
    resize:vertical;
}

.cadastro input:focus,
.cadastro textarea:focus,
.cadastro select:focus{
    outline:none;
    border-color:#000;
}

.cadastro input[type=file]{
    border:none;
    padding:0;
}

.btn-salvar{
    margin-top:20px;
    padding:14px;
    background:#111;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.btn-salvar:hover{
    background:#333;
    transform:scale(1.02);
}


/* Responsivo */

@media(max-width:1100px){

    .container-gerenciar{
        width:95%;
    }

    table{
        display:block;
        overflow-x:auto;
    }

}