<header class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}"><img src="/static/imgs/logo1.png" width="70px"></a>
    </div>
    
    <nav class="nav-links">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'index' %}">Promoções</a>
      <a href="{% url 'produtos' %}">Produtos</a>
      <a href="{% url 'index' %}">Entrega</a>
      <a href="{% url 'index' %}">Combos</a>
      <a href="{% url 'index' %}">Cupons</a>
      <a href="{% url 'index' %}">Equipe</a>
      <a href="{% url 'carrinhocompras' %}">🛒 Carrinho</a>
    </nav>
    
    <div class="nav-buttons">
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="{% url 'produto_gerenciar' %}" class="btn-outline">Painel Admin</a>
        {% else %}
          <a href="{% url 'perfil' %}" class="btn-outline">Meu Perfil</a>
        {% endif %}
        
        <a href="{% url 'logout' %}" class="btn-dark">Sair</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn-outline">Entrar</a>
        <a href="{% url 'register' %}" class="btn-dark">Criar Conta</a>
      {% endif %}
    </div>
    
</header>