<footer class="footer">
    <div class="logo"><img src="/static/imgs/logo.png"></a></div>
    <div class="footer-columns">
      <div class="column">
        <h4>Produtos e Compras</h4>
        <ul>
          <li>Compre por Categoria</li>
          <li>Refeições</li>
          <li>Combos</li>
          <li>Sobremesas</li>
          <li>Equipe</li>
          <li>Lançamentos</li>
          <li>Ofertas Especiais</li>
        </ul>
      </div>
      <div class="column">
        <h4>Informações e Ajuda</h4>
        <ul>
          <li>Ajuda e Suporte</li>
          <li>Fale Conosco</li>
          <li>Trocas e Devoluções</li>
          <li>Política de Privacidade</li>
          <li>Rastrear Pedido</li>
          <li>Formas de Pagamento</li>
          <li>Dúvidas Rápidas</li>
        </ul>
      </div>
      <div class="column">
        <h4>Empresa e Recursos</h4>
        <ul>
          <li>Sobre Nós</li>
          <li>Nossa História</li>
          <li>Carreiras</li>
          <li>Termos de Uso</li>
          <li>Notícias</li>
          <li>Fundadores</li>
          <li>Redes Sociais</li>
        </ul>
      </div>
    </div>
</footer>
</body>
</html>